body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

p {
  margin: 0;
  margin-bottom: 0.5em;
}

.grey {
  color: grey;
}

button {
  margin-bottom: 0;
}
